body {
    font-family: sans-serif;
}

.appBtn {
    padding: 5px 25px;
    background: red;
    color: #fff;
    font-size: 20px;
    border: none;
}

.loading {
    background: blue;
    color: #fff;
}

.pizza {
    margin: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
}

.slice {
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    width: 200px;
    border-top: 1px solid #000;
}